// Twilightbloom
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/twilightbloom
// License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt

/*--------------------------------------------------
  Card
--------------------------------------------------*/

.c-card {
  height: auto;
  color: $dark !important;
  background-color: $light;
  border-radius: 2px;
  box-shadow: $z-depth-1;

  &--dark {
    color: $light !important;
    background-color: $dark;
  }

  &__content { padding: 20px; }
}
