// Twilightbloom
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/twilightbloom
// License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt

/*--------------------------------------------------
  Highlight
--------------------------------------------------*/

.c-highlight {
  color: $light;
  padding: 20px;
  background-color: $secondary;
  border-radius: 4px;
  overflow: auto;

  &--light {
    color: $dark;
    background-color: $light;
  }

  &--dark {
    color: $light;
    background-color: $dark;
  }

  &--success {
    color: $light;
    background-color: $success;
  }

  &--warning {
    color: $light;
    background-color: $warning;
  }

  &--danger {
    color: $light;
    background-color: $danger;
  }

  &--info {
    color: $light;
    background-color: $info;
  }

  &--grey {
    color: $dark;
    background-color: $grey-300;
  }
}

