// Twilightbloom
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/twilightbloom
// License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt

/*--------------------------------------------------
  Site-title
--------------------------------------------------*/

.c-site-branding {
  display: flex;
  align-items: center;
  height: $header-height_m;
  color: $white !important;
  font-size: $font-xl;
  font-weight: 700;
  text-decoration: none !important;
  line-height: 1.6;
  white-space: nowrap;

  &__logo {
    max-width: 100%;
    max-height: calc(100% - 20px);
  }

  &__title {
    font-size: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include media-breakpoint-min(lg) {
    height: $header-height;
    font-size: $font-sl;
  }
}

