// Twilightbloom
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/twilightbloom
// License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt

/*--------------------------------------------------
  Site-nav
--------------------------------------------------*/

.c-site-nav {
  display: flex;
  flex-direction: column;
  list-style: none;

  &__item {
    overflow: hidden;
  }

  &__item a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: $font-nm;
    line-height: $nav-height;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__item a:hover,
  &__item--active a {
    text-decoration: underline;
  }

  @include media-breakpoint-min(lg) {
    flex-direction: row;

    &--alt { flex-direction: column; }
  }
}
