// Twilightbloom
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/twilightbloom
// License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt

/*--------------------------------------------------
  Article
--------------------------------------------------*/

.l-article {
  padding-top: ($section-gutter-ver / 2);

  &--padding-wide { padding-top: $section-gutter-ver; }
  &--padding-narrow { padding-top: ($section-gutter-ver / 4); }
  &--padding-no { padding: 0 !important; }

  @include media-breakpoint-min(lg) {
    padding-top: $section-gutter-ver;

    &--padding-wide { padding-top: ($section-gutter-ver * 2); }
    &--padding-narrow { padding-top: ($section-gutter-ver / 2); }
  }

  @media print { page-break-inside: avoid; }
}


