// Twilightbloom
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/twilightbloom
// License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt

/*--------------------------------------------------
  Container
--------------------------------------------------*/

.l-container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &--fluid { max-width: 100% !important; }

  @include media-breakpoint-min(xs) {
    max-width: $container-xs;
  }

  @include media-breakpoint-min(sm) {
    max-width: $container-sm;
  }

  @include media-breakpoint-min(md) {
    max-width: $container-md;
  }

  @include media-breakpoint-min(lg) {
    max-width: $container-lg;
  }

  @include media-breakpoint-min(xl) {
    max-width: $container-xl;
  }
}
