// Twilightbloom
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/twilightbloom
// License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt

/*--------------------------------------------------
  Gap
--------------------------------------------------*/

.l-gap-10 {
  margin: -5px;

  & > div,
  & > .l-gap__item { padding: 5px; }
}
.l-gap-20 {
  margin: -10px;

  & > div,
  & > .l-gap__item { padding: 10px; }
}

.l-gap-30 {
  margin: -15px;

  & > div,
  & > .l-gap__item { padding: 15px; }
}

.l-gap-40 {
  margin: -20px;

  & > div,
  & > .l-gap__item { padding: 20px; }
}

.l-gap-50 {
  margin: -25px;

  & > div,
  & > .l-gap__item { padding: 25px; }
}

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-min($breakpoint) {
    .l-gap-#{$breakpoint}-10 {
      margin: -5px;

      & > div,
      & > .l-gap__item { padding: 5px; }
    }

    .l-gap-#{$breakpoint}-20 {
      margin: -10px;

      & > div,
      & > .l-gap__item { padding: 10px; }
    }

    .l-gap-#{$breakpoint}-30 {
      margin: -15px;

      & > div,
      & > .l-gap__item { padding: 15px; }
    }

    .l-gap-#{$breakpoint}-40 {
      margin: -20px;

      & > div,
      & > .l-gap__item { padding: 20px; }
    }

    .l-gap-#{$breakpoint}-50 {
      margin: -25px;

      & > div,
      & > .l-gap__item { padding: 25px; }
    }
  }
}
