/*!
 * Twilightbloom
 * Scalable and Maintainable Architecture.
 *
 * Author:   Jack Ryan Oracoy
 * Website:  https://jackryanoracoy.github.io
 * Email:    jackryanoracoy@gmail.com
 * URL:      https://github.com/jackryanoracoy/twilightbloom
 * License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt
 */
/*--------------------------------------------------
  Form
--------------------------------------------------*/
.c-form {
  position: relative;
}

.c-form--fuid {
  width: 100%;
}

.c-form label {
  display: block;
  text-transform: uppercase;
}

.c-form textarea {
  width: 100%;
  max-width: 100%;
  height: 60px;
  min-height: 40px;
  resize: vertical;
}

.c-form input[type=checkbox] {
  width: 10px;
  height: 10px;
  vertical-align: middle;
}

.c-form input[type=text],
.c-form input[type=email],
.c-form input[type=number] {
  width: 100%;
  height: 40px;
}

.c-form textarea,
.c-form input[type=text],
.c-form input[type=email],
.c-form input[type=number] {
  padding: 10px;
  color: inherit;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.6;
  background-color: transparent;
  border: 1px solid #757575;
}

.c-form button,
.c-form input[type=button],
.c-form input[type=submit] {
  cursor: pointer;
  border: none;
}

.c-form button:disabled:hover,
.c-form input[type=button]:disabled:hover,
.c-form input[type=submit]:disabled:hover {
  cursor: auto;
  opacity: 0.5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-form button,
.c-form textarea,
.c-form input[type=text],
.c-form input[type=email],
.c-form input[type=button],
.c-form input[type=number],
.c-form input[type=submit] {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.c-form ::-webkit-input-placeholder {
  color: inherit;
  font-size: 1.4rem;
  line-height: 40px;
}

.c-form :-ms-input-placeholder {
  color: inherit;
  font-size: 1.4rem;
  line-height: 40px;
}

.c-form ::-ms-input-placeholder {
  color: inherit;
  font-size: 1.4rem;
  line-height: 40px;
}

.c-form ::placeholder {
  color: inherit;
  font-size: 1.4rem;
  line-height: 40px;
}

/*--------------------------------------------------
  Browser Notice
--------------------------------------------------*/
.c-browser-notice {
  padding: 20px;
  color: #FFFFFF;
  text-align: center;
  background-color: #F44336;
}

/*--------------------------------------------------
  Button
--------------------------------------------------*/
.c-button {
  display: inline-block;
  min-width: 35px;
  padding: 0 15px;
  color: #FAFAFA !important;
  font-size: 1.6rem;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  background-color: #880E4F;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}

.c-button:hover, .c-button:visited, .c-button:active, .c-button:focus {
  text-decoration: none;
}

.c-button:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 4px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 4px -4px rgba(0, 0, 0, 0.2);
}

.c-button--block {
  display: block;
}

.c-button--large {
  min-width: 50px;
  line-height: 50px;
  padding: 0 20px;
}

.c-button--light {
  color: #212121 !important;
  background-color: #FAFAFA;
}

.c-button--dark {
  color: #FAFAFA !important;
  background-color: #212121;
}

.c-button--success {
  color: #FAFAFA !important;
  background-color: #4CAF50;
}

.c-button--warnig {
  color: #FAFAFA !important;
  background-color: #FF9800;
}

.c-button--danger {
  color: #FAFAFA !important;
  background-color: #F44336;
}

.c-button--info {
  color: #FAFAFA !important;
  background-color: #00BCD4;
}

/*--------------------------------------------------
  Card
--------------------------------------------------*/
.c-card {
  height: auto;
  color: #212121 !important;
  background-color: #FAFAFA;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}

.c-card--dark {
  color: #FAFAFA !important;
  background-color: #212121;
}

.c-card__content {
  padding: 20px;
}

/*--------------------------------------------------
  Highlight
--------------------------------------------------*/
.c-highlight {
  color: #FAFAFA;
  padding: 20px;
  background-color: #C51162;
  border-radius: 4px;
  overflow: auto;
}

.c-highlight--light {
  color: #212121;
  background-color: #FAFAFA;
}

.c-highlight--dark {
  color: #FAFAFA;
  background-color: #212121;
}

.c-highlight--success {
  color: #FAFAFA;
  background-color: #4CAF50;
}

.c-highlight--warning {
  color: #FAFAFA;
  background-color: #FF9800;
}

.c-highlight--danger {
  color: #FAFAFA;
  background-color: #F44336;
}

.c-highlight--info {
  color: #FAFAFA;
  background-color: #00BCD4;
}

.c-highlight--grey {
  color: #212121;
  background-color: #E0E0E0;
}

/*--------------------------------------------------
  Heading
--------------------------------------------------*/
.c-heading-above-the-fold {
  color: #FAFAFA;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
}

@media (min-width: 992px) {
  .c-heading-above-the-fold {
    font-size: 2.8rem;
  }
}

.c-heading-section {
  color: #616161;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}

@media (min-width: 992px) {
  .c-heading-section {
    font-size: 2.8rem;
  }
}

.c-heading-article {
  color: #212121;
  font-size: 1.6rem;
}

@media (min-width: 992px) {
  .c-heading-article {
    font-size: 1.8rem;
  }
}

/*--------------------------------------------------
  Site-menu
--------------------------------------------------*/
.c-site-menu {
  position: relative;
  display: block;
  color: #FAFAFA;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.c-site-menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
}

.c-site-menu__inner {
  position: relative;
  display: block;
  width: inherit;
  height: 4px;
  background-color: #FAFAFA;
}

.c-site-menu__inner::after, .c-site-menu__inner::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #FAFAFA;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.c-site-menu__text {
  margin: 4px 0 0;
}

.c-site-menu__inner::before {
  top: -10px;
}

.c-site-menu__inner::after {
  bottom: -10px;
}

.c-site-menu.js-active .c-site-menu__inner {
  background-color: rgba(0, 0, 0, 0);
}

.c-site-menu.js-active .c-site-menu__inner::before {
  top: 0;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.c-site-menu.js-active .c-site-menu__inner::after {
  bottom: 0;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

/*--------------------------------------------------
  Site-nav
--------------------------------------------------*/
.c-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.c-site-nav__item {
  overflow: hidden;
}

.c-site-nav__item a {
  display: block;
  padding: 0 10px;
  color: #FFF;
  font-size: 1.6rem;
  line-height: 50px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-site-nav__item a:hover,
.c-site-nav__item--active a {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .c-site-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .c-site-nav--alt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*--------------------------------------------------
  Site-title
--------------------------------------------------*/
.c-site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  color: #FFFFFF !important;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none !important;
  line-height: 1.6;
  white-space: nowrap;
}

.c-site-branding__logo {
  max-width: 100%;
  max-height: calc(100% - 20px);
}

.c-site-branding__title {
  font-size: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 992px) {
  .c-site-branding {
    height: 75px;
    font-size: 2.8rem;
  }
}
/*# sourceMappingURL=component.css.map */