/*!
 * Twilightbloom
 * Scalable and Maintainable Architecture.
 *
 * Author:   Jack Ryan Oracoy
 * Website:  https://jackryanoracoy.github.io
 * Email:    jackryanoracoy@gmail.com
 * URL:      https://github.com/jackryanoracoy/twilightbloom
 * License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt
 */
/*--------------------------------------------------
  Container
--------------------------------------------------*/
.l-container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.l-container--fluid {
  max-width: 100% !important;
}

@media (min-width: 410px) {
  .l-container {
    max-width: 395px;
  }
}

@media (min-width: 576px) {
  .l-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .l-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .l-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .l-container {
    max-width: 1140px;
  }
}

/*--------------------------------------------------
  Flex
--------------------------------------------------*/
.l-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-flex--row-wrp {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.l-flex--row-wrp-no {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.l-flex--row-wrp-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap-reverse;
          flex-flow: row wrap-reverse;
}

.l-flex--row-rev-wrp {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

.l-flex--row-rev-wrp-no {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

.l-flex--row-rev-wrp-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap-reverse;
          flex-flow: row-reverse wrap-reverse;
}

.l-flex--col-wrp {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.l-flex--col-wrp-no {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.l-flex--col-wrp-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap-reverse;
          flex-flow: column wrap-reverse;
}

.l-flex--col-rev-wrp {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse wrap;
          flex-flow: column-reverse wrap;
}

.l-flex--col-rev-wrp-no {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse nowrap;
          flex-flow: column-reverse nowrap;
}

.l-flex--col-rev-wrp-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse wrap-reverse;
          flex-flow: column-reverse wrap-reverse;
}

.l-flex--wrp {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-flex--wrp-no {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.l-flex--wrp-rev {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.l-flex--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-flex--col-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.l-flex--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.l-flex--row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.l-flex--jus-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-flex--jus-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.l-flex--jus-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-flex--jus-sparound {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.l-flex--jus-spbetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-flex--jus-spevenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.l-flex--ali-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.l-flex--ali-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.l-flex--ali-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.l-flex--ali-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.l-flex--ali-sparound {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.l-flex--ali-spbetween {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.l-flex--alt-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.l-flex--alt-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.l-flex--alt-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flex--alt-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.l-flex--alt-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.l-flex__order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.l-flex__order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.l-flex__order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.l-flex__order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.l-flex__order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.l-flex__order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.l-flex__order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.l-flex__order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.l-flex__order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.l-flex__order-10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.l-flex__order-11 {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.l-flex__order-12 {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

.l-flex__als-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.l-flex__als-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.l-flex__als-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.l-flex__als-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.l-flex__als-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.l-flex__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.l-flex__item-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.l-flex__item-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.l-flex__item-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.l-flex__item-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.l-flex__item-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.l-flex__item-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.l-flex__item-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.l-flex__item-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.l-flex__item-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.l-flex__item-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.l-flex__item-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.l-flex__item-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.l-flex__item-a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}

.l-flex__item-b {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.l-flex__item-c {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}

.l-flex__item-d {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}

.l-flex__item-e {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
}

.l-flex__item-f {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
}

.l-flex__item-g {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.l-flex__item-h {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  max-width: 90%;
}

.l-flex__basis-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.l-flex__basis-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.l-flex__basis-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.l-flex__basis-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.l-flex__basis-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.l-flex__basis-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.l-flex__basis-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.l-flex__basis-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.l-flex__basis-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}

.l-flex__basis-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.l-flex__basis-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.l-flex__basis-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.l-flex__grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.l-flex__grow-no {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.l-flex__shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.l-flex__shrink-no {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 410px) {
  .l-flex--row-wrp-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .l-flex--row-wrp-no-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .l-flex--row-wrp-rev-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
  }
  .l-flex--row-rev-wrp-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
  }
  .l-flex--row-rev-wrp-no-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
  }
  .l-flex--row-rev-wrp-rev-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap-reverse;
            flex-flow: row-reverse wrap-reverse;
  }
  .l-flex--col-wrp-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .l-flex--col-wrp-no-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .l-flex--col-wrp-rev-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap-reverse;
            flex-flow: column wrap-reverse;
  }
  .l-flex--col-rev-wrp-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
  }
  .l-flex--col-rev-wrp-no-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .l-flex--col-rev-wrp-rev-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap-reverse;
            flex-flow: column-reverse wrap-reverse;
  }
  .l-flex--wrp-xs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-flex--wrp-no-xs {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .l-flex--wrp-rev-xs {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .l-flex--col-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-flex--col-rev-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .l-flex--row-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .l-flex--row-rev-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .l-flex--jus-start-xs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .l-flex--jus-end-xs {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-flex--jus-center-xs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-flex--jus-sparound-xs {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .l-flex--jus-spbetween-xs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-flex--jus-spevenly-xs {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .l-flex--ali-start-xs {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .l-flex--ali-end-xs {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .l-flex--ali-center-xs {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .l-flex--ali-stretch-xs {
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .l-flex--ali-sparound-xs {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .l-flex--ali-spbetween-xs {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .l-flex--alt-start-xs {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .l-flex--alt-end-xs {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .l-flex--alt-center-xs {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-flex--alt-stretch-xs {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .l-flex--alt-baseline-xs {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .l-flex__order-xs-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .l-flex__order-xs-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .l-flex__order-xs-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .l-flex__order-xs-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .l-flex__order-xs-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .l-flex__order-xs-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .l-flex__order-xs-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .l-flex__order-xs-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .l-flex__order-xs-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .l-flex__order-xs-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .l-flex__order-xs-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .l-flex__order-xs-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .l-flex__als-start-xs {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .l-flex__als-end-xs {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .l-flex__als-center-xs {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .l-flex__als-stretch-xs {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .l-flex__als-baseline-xs {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .l-flex__item-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .l-flex__item-xs-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-flex__item-xs-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-flex__item-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .l-flex__item-xs-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-flex__item-xs-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-flex__item-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .l-flex__item-xs-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-flex__item-xs-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-flex__item-xs-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .l-flex__item-xs-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-flex__item-xs-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-flex__item-xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .l-flex__item-xs-a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .l-flex__item-xs-b {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .l-flex__item-xs-c {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .l-flex__item-xs-d {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .l-flex__item-xs-e {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .l-flex__item-xs-f {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .l-flex__item-xs-g {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .l-flex__item-xs-h {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .l-flex__basis-xs-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .l-flex__basis-xs-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .l-flex__basis-xs-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .l-flex__basis-xs-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .l-flex__basis-xs-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .l-flex__basis-xs-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .l-flex__basis-xs-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .l-flex__basis-xs-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .l-flex__basis-xs-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .l-flex__basis-xs-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .l-flex__basis-xs-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .l-flex__basis-xs-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .l-flex__grow-xs {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .l-flex__grow-no-xs {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .l-flex__shrink-xs {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .l-flex__shrink-no-xs {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 576px) {
  .l-flex--row-wrp-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .l-flex--row-wrp-no-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .l-flex--row-wrp-rev-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
  }
  .l-flex--row-rev-wrp-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
  }
  .l-flex--row-rev-wrp-no-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
  }
  .l-flex--row-rev-wrp-rev-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap-reverse;
            flex-flow: row-reverse wrap-reverse;
  }
  .l-flex--col-wrp-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .l-flex--col-wrp-no-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .l-flex--col-wrp-rev-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap-reverse;
            flex-flow: column wrap-reverse;
  }
  .l-flex--col-rev-wrp-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
  }
  .l-flex--col-rev-wrp-no-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .l-flex--col-rev-wrp-rev-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap-reverse;
            flex-flow: column-reverse wrap-reverse;
  }
  .l-flex--wrp-sm {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-flex--wrp-no-sm {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .l-flex--wrp-rev-sm {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .l-flex--col-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-flex--col-rev-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .l-flex--row-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .l-flex--row-rev-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .l-flex--jus-start-sm {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .l-flex--jus-end-sm {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-flex--jus-center-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-flex--jus-sparound-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .l-flex--jus-spbetween-sm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-flex--jus-spevenly-sm {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .l-flex--ali-start-sm {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .l-flex--ali-end-sm {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .l-flex--ali-center-sm {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .l-flex--ali-stretch-sm {
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .l-flex--ali-sparound-sm {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .l-flex--ali-spbetween-sm {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .l-flex--alt-start-sm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .l-flex--alt-end-sm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .l-flex--alt-center-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-flex--alt-stretch-sm {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .l-flex--alt-baseline-sm {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .l-flex__order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .l-flex__order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .l-flex__order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .l-flex__order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .l-flex__order-sm-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .l-flex__order-sm-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .l-flex__order-sm-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .l-flex__order-sm-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .l-flex__order-sm-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .l-flex__order-sm-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .l-flex__order-sm-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .l-flex__order-sm-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .l-flex__als-start-sm {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .l-flex__als-end-sm {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .l-flex__als-center-sm {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .l-flex__als-stretch-sm {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .l-flex__als-baseline-sm {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .l-flex__item-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .l-flex__item-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-flex__item-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-flex__item-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .l-flex__item-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-flex__item-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-flex__item-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .l-flex__item-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-flex__item-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-flex__item-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .l-flex__item-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-flex__item-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-flex__item-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .l-flex__item-sm-a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .l-flex__item-sm-b {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .l-flex__item-sm-c {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .l-flex__item-sm-d {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .l-flex__item-sm-e {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .l-flex__item-sm-f {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .l-flex__item-sm-g {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .l-flex__item-sm-h {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .l-flex__basis-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .l-flex__basis-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .l-flex__basis-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .l-flex__basis-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .l-flex__basis-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .l-flex__basis-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .l-flex__basis-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .l-flex__basis-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .l-flex__basis-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .l-flex__basis-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .l-flex__basis-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .l-flex__basis-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .l-flex__grow-sm {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .l-flex__grow-no-sm {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .l-flex__shrink-sm {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .l-flex__shrink-no-sm {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 768px) {
  .l-flex--row-wrp-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .l-flex--row-wrp-no-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .l-flex--row-wrp-rev-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
  }
  .l-flex--row-rev-wrp-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
  }
  .l-flex--row-rev-wrp-no-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
  }
  .l-flex--row-rev-wrp-rev-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap-reverse;
            flex-flow: row-reverse wrap-reverse;
  }
  .l-flex--col-wrp-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .l-flex--col-wrp-no-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .l-flex--col-wrp-rev-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap-reverse;
            flex-flow: column wrap-reverse;
  }
  .l-flex--col-rev-wrp-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
  }
  .l-flex--col-rev-wrp-no-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .l-flex--col-rev-wrp-rev-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap-reverse;
            flex-flow: column-reverse wrap-reverse;
  }
  .l-flex--wrp-md {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-flex--wrp-no-md {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .l-flex--wrp-rev-md {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .l-flex--col-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-flex--col-rev-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .l-flex--row-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .l-flex--row-rev-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .l-flex--jus-start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .l-flex--jus-end-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-flex--jus-center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-flex--jus-sparound-md {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .l-flex--jus-spbetween-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-flex--jus-spevenly-md {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .l-flex--ali-start-md {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .l-flex--ali-end-md {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .l-flex--ali-center-md {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .l-flex--ali-stretch-md {
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .l-flex--ali-sparound-md {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .l-flex--ali-spbetween-md {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .l-flex--alt-start-md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .l-flex--alt-end-md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .l-flex--alt-center-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-flex--alt-stretch-md {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .l-flex--alt-baseline-md {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .l-flex__order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .l-flex__order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .l-flex__order-md-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .l-flex__order-md-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .l-flex__order-md-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .l-flex__order-md-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .l-flex__order-md-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .l-flex__order-md-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .l-flex__order-md-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .l-flex__order-md-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .l-flex__order-md-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .l-flex__order-md-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .l-flex__als-start-md {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .l-flex__als-end-md {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .l-flex__als-center-md {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .l-flex__als-stretch-md {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .l-flex__als-baseline-md {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .l-flex__item-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .l-flex__item-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-flex__item-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-flex__item-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .l-flex__item-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-flex__item-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-flex__item-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .l-flex__item-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-flex__item-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-flex__item-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .l-flex__item-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-flex__item-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-flex__item-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .l-flex__item-md-a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .l-flex__item-md-b {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .l-flex__item-md-c {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .l-flex__item-md-d {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .l-flex__item-md-e {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .l-flex__item-md-f {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .l-flex__item-md-g {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .l-flex__item-md-h {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .l-flex__basis-md-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .l-flex__basis-md-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .l-flex__basis-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .l-flex__basis-md-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .l-flex__basis-md-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .l-flex__basis-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .l-flex__basis-md-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .l-flex__basis-md-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .l-flex__basis-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .l-flex__basis-md-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .l-flex__basis-md-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .l-flex__basis-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .l-flex__grow-md {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .l-flex__grow-no-md {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .l-flex__shrink-md {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .l-flex__shrink-no-md {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 992px) {
  .l-flex--row-wrp-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .l-flex--row-wrp-no-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .l-flex--row-wrp-rev-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
  }
  .l-flex--row-rev-wrp-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
  }
  .l-flex--row-rev-wrp-no-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
  }
  .l-flex--row-rev-wrp-rev-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap-reverse;
            flex-flow: row-reverse wrap-reverse;
  }
  .l-flex--col-wrp-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .l-flex--col-wrp-no-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .l-flex--col-wrp-rev-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap-reverse;
            flex-flow: column wrap-reverse;
  }
  .l-flex--col-rev-wrp-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
  }
  .l-flex--col-rev-wrp-no-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .l-flex--col-rev-wrp-rev-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap-reverse;
            flex-flow: column-reverse wrap-reverse;
  }
  .l-flex--wrp-lg {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-flex--wrp-no-lg {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .l-flex--wrp-rev-lg {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .l-flex--col-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-flex--col-rev-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .l-flex--row-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .l-flex--row-rev-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .l-flex--jus-start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .l-flex--jus-end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-flex--jus-center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-flex--jus-sparound-lg {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .l-flex--jus-spbetween-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-flex--jus-spevenly-lg {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .l-flex--ali-start-lg {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .l-flex--ali-end-lg {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .l-flex--ali-center-lg {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .l-flex--ali-stretch-lg {
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .l-flex--ali-sparound-lg {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .l-flex--ali-spbetween-lg {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .l-flex--alt-start-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .l-flex--alt-end-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .l-flex--alt-center-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-flex--alt-stretch-lg {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .l-flex--alt-baseline-lg {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .l-flex__order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .l-flex__order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .l-flex__order-lg-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .l-flex__order-lg-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .l-flex__order-lg-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .l-flex__order-lg-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .l-flex__order-lg-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .l-flex__order-lg-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .l-flex__order-lg-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .l-flex__order-lg-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .l-flex__order-lg-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .l-flex__order-lg-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .l-flex__als-start-lg {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .l-flex__als-end-lg {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .l-flex__als-center-lg {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .l-flex__als-stretch-lg {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .l-flex__als-baseline-lg {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .l-flex__item-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .l-flex__item-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-flex__item-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-flex__item-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .l-flex__item-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-flex__item-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-flex__item-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .l-flex__item-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-flex__item-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-flex__item-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .l-flex__item-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-flex__item-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-flex__item-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .l-flex__item-lg-a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .l-flex__item-lg-b {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .l-flex__item-lg-c {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .l-flex__item-lg-d {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .l-flex__item-lg-e {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .l-flex__item-lg-f {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .l-flex__item-lg-g {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .l-flex__item-lg-h {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .l-flex__basis-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .l-flex__basis-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .l-flex__basis-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .l-flex__basis-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .l-flex__basis-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .l-flex__basis-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .l-flex__basis-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .l-flex__basis-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .l-flex__basis-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .l-flex__basis-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .l-flex__basis-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .l-flex__basis-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .l-flex__grow-lg {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .l-flex__grow-no-lg {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .l-flex__shrink-lg {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .l-flex__shrink-no-lg {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 1200px) {
  .l-flex--row-wrp-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .l-flex--row-wrp-no-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .l-flex--row-wrp-rev-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
  }
  .l-flex--row-rev-wrp-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
  }
  .l-flex--row-rev-wrp-no-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
  }
  .l-flex--row-rev-wrp-rev-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap-reverse;
            flex-flow: row-reverse wrap-reverse;
  }
  .l-flex--col-wrp-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .l-flex--col-wrp-no-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .l-flex--col-wrp-rev-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap-reverse;
            flex-flow: column wrap-reverse;
  }
  .l-flex--col-rev-wrp-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
  }
  .l-flex--col-rev-wrp-no-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .l-flex--col-rev-wrp-rev-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap-reverse;
            flex-flow: column-reverse wrap-reverse;
  }
  .l-flex--wrp-xl {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-flex--wrp-no-xl {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .l-flex--wrp-rev-xl {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .l-flex--col-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-flex--col-rev-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .l-flex--row-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .l-flex--row-rev-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .l-flex--jus-start-xl {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .l-flex--jus-end-xl {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-flex--jus-center-xl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-flex--jus-sparound-xl {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .l-flex--jus-spbetween-xl {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-flex--jus-spevenly-xl {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .l-flex--ali-start-xl {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .l-flex--ali-end-xl {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .l-flex--ali-center-xl {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .l-flex--ali-stretch-xl {
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .l-flex--ali-sparound-xl {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .l-flex--ali-spbetween-xl {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .l-flex--alt-start-xl {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .l-flex--alt-end-xl {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .l-flex--alt-center-xl {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-flex--alt-stretch-xl {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .l-flex--alt-baseline-xl {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .l-flex__order-xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .l-flex__order-xl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .l-flex__order-xl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .l-flex__order-xl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .l-flex__order-xl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .l-flex__order-xl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .l-flex__order-xl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .l-flex__order-xl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .l-flex__order-xl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .l-flex__order-xl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .l-flex__order-xl-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .l-flex__order-xl-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .l-flex__als-start-xl {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .l-flex__als-end-xl {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .l-flex__als-center-xl {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .l-flex__als-stretch-xl {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .l-flex__als-baseline-xl {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .l-flex__item-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .l-flex__item-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-flex__item-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-flex__item-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .l-flex__item-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-flex__item-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-flex__item-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .l-flex__item-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-flex__item-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-flex__item-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .l-flex__item-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-flex__item-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-flex__item-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .l-flex__item-xl-a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .l-flex__item-xl-b {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .l-flex__item-xl-c {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .l-flex__item-xl-d {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .l-flex__item-xl-e {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .l-flex__item-xl-f {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .l-flex__item-xl-g {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .l-flex__item-xl-h {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .l-flex__basis-xl-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .l-flex__basis-xl-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .l-flex__basis-xl-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .l-flex__basis-xl-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .l-flex__basis-xl-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .l-flex__basis-xl-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .l-flex__basis-xl-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .l-flex__basis-xl-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .l-flex__basis-xl-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .l-flex__basis-xl-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .l-flex__basis-xl-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .l-flex__basis-xl-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .l-flex__grow-xl {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .l-flex__grow-no-xl {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .l-flex__shrink-xl {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .l-flex__shrink-no-xl {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

/*--------------------------------------------------
  Gap
--------------------------------------------------*/
.l-gap-10 {
  margin: -5px;
}

.l-gap-10 > div,
.l-gap-10 > .l-gap__item {
  padding: 5px;
}

.l-gap-20 {
  margin: -10px;
}

.l-gap-20 > div,
.l-gap-20 > .l-gap__item {
  padding: 10px;
}

.l-gap-30 {
  margin: -15px;
}

.l-gap-30 > div,
.l-gap-30 > .l-gap__item {
  padding: 15px;
}

.l-gap-40 {
  margin: -20px;
}

.l-gap-40 > div,
.l-gap-40 > .l-gap__item {
  padding: 20px;
}

.l-gap-50 {
  margin: -25px;
}

.l-gap-50 > div,
.l-gap-50 > .l-gap__item {
  padding: 25px;
}

@media (min-width: 410px) {
  .l-gap-xs-10 {
    margin: -5px;
  }
  .l-gap-xs-10 > div,
  .l-gap-xs-10 > .l-gap__item {
    padding: 5px;
  }
  .l-gap-xs-20 {
    margin: -10px;
  }
  .l-gap-xs-20 > div,
  .l-gap-xs-20 > .l-gap__item {
    padding: 10px;
  }
  .l-gap-xs-30 {
    margin: -15px;
  }
  .l-gap-xs-30 > div,
  .l-gap-xs-30 > .l-gap__item {
    padding: 15px;
  }
  .l-gap-xs-40 {
    margin: -20px;
  }
  .l-gap-xs-40 > div,
  .l-gap-xs-40 > .l-gap__item {
    padding: 20px;
  }
  .l-gap-xs-50 {
    margin: -25px;
  }
  .l-gap-xs-50 > div,
  .l-gap-xs-50 > .l-gap__item {
    padding: 25px;
  }
}

@media (min-width: 576px) {
  .l-gap-sm-10 {
    margin: -5px;
  }
  .l-gap-sm-10 > div,
  .l-gap-sm-10 > .l-gap__item {
    padding: 5px;
  }
  .l-gap-sm-20 {
    margin: -10px;
  }
  .l-gap-sm-20 > div,
  .l-gap-sm-20 > .l-gap__item {
    padding: 10px;
  }
  .l-gap-sm-30 {
    margin: -15px;
  }
  .l-gap-sm-30 > div,
  .l-gap-sm-30 > .l-gap__item {
    padding: 15px;
  }
  .l-gap-sm-40 {
    margin: -20px;
  }
  .l-gap-sm-40 > div,
  .l-gap-sm-40 > .l-gap__item {
    padding: 20px;
  }
  .l-gap-sm-50 {
    margin: -25px;
  }
  .l-gap-sm-50 > div,
  .l-gap-sm-50 > .l-gap__item {
    padding: 25px;
  }
}

@media (min-width: 768px) {
  .l-gap-md-10 {
    margin: -5px;
  }
  .l-gap-md-10 > div,
  .l-gap-md-10 > .l-gap__item {
    padding: 5px;
  }
  .l-gap-md-20 {
    margin: -10px;
  }
  .l-gap-md-20 > div,
  .l-gap-md-20 > .l-gap__item {
    padding: 10px;
  }
  .l-gap-md-30 {
    margin: -15px;
  }
  .l-gap-md-30 > div,
  .l-gap-md-30 > .l-gap__item {
    padding: 15px;
  }
  .l-gap-md-40 {
    margin: -20px;
  }
  .l-gap-md-40 > div,
  .l-gap-md-40 > .l-gap__item {
    padding: 20px;
  }
  .l-gap-md-50 {
    margin: -25px;
  }
  .l-gap-md-50 > div,
  .l-gap-md-50 > .l-gap__item {
    padding: 25px;
  }
}

@media (min-width: 992px) {
  .l-gap-lg-10 {
    margin: -5px;
  }
  .l-gap-lg-10 > div,
  .l-gap-lg-10 > .l-gap__item {
    padding: 5px;
  }
  .l-gap-lg-20 {
    margin: -10px;
  }
  .l-gap-lg-20 > div,
  .l-gap-lg-20 > .l-gap__item {
    padding: 10px;
  }
  .l-gap-lg-30 {
    margin: -15px;
  }
  .l-gap-lg-30 > div,
  .l-gap-lg-30 > .l-gap__item {
    padding: 15px;
  }
  .l-gap-lg-40 {
    margin: -20px;
  }
  .l-gap-lg-40 > div,
  .l-gap-lg-40 > .l-gap__item {
    padding: 20px;
  }
  .l-gap-lg-50 {
    margin: -25px;
  }
  .l-gap-lg-50 > div,
  .l-gap-lg-50 > .l-gap__item {
    padding: 25px;
  }
}

@media (min-width: 1200px) {
  .l-gap-xl-10 {
    margin: -5px;
  }
  .l-gap-xl-10 > div,
  .l-gap-xl-10 > .l-gap__item {
    padding: 5px;
  }
  .l-gap-xl-20 {
    margin: -10px;
  }
  .l-gap-xl-20 > div,
  .l-gap-xl-20 > .l-gap__item {
    padding: 10px;
  }
  .l-gap-xl-30 {
    margin: -15px;
  }
  .l-gap-xl-30 > div,
  .l-gap-xl-30 > .l-gap__item {
    padding: 15px;
  }
  .l-gap-xl-40 {
    margin: -20px;
  }
  .l-gap-xl-40 > div,
  .l-gap-xl-40 > .l-gap__item {
    padding: 20px;
  }
  .l-gap-xl-50 {
    margin: -25px;
  }
  .l-gap-xl-50 > div,
  .l-gap-xl-50 > .l-gap__item {
    padding: 25px;
  }
}

/*--------------------------------------------------
  Parallax
--------------------------------------------------*/
.l-parallax {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.l-parallax picture, .l-parallax__image {
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.l-parallax picture {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.l-parallax__image {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 150%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'object-fit: cover;';
}

/*--------------------------------------------------
  Section
--------------------------------------------------*/
.l-section {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.l-section--padding-wide {
  padding-top: 60px;
  padding-bottom: 60px;
}

.l-section--padding-narrow {
  padding-top: 15px;
  padding-bottom: 15px;
}

.l-section--padding-no {
  padding: 0 !important;
}

@media (min-width: 576px) {
  .l-section {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .l-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .l-section--padding-wide {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .l-section--padding-narrow {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/*--------------------------------------------------
  Article
--------------------------------------------------*/
.l-article {
  padding-top: 30px;
}

.l-article--padding-wide {
  padding-top: 60px;
}

.l-article--padding-narrow {
  padding-top: 15px;
}

.l-article--padding-no {
  padding: 0 !important;
}

@media (min-width: 992px) {
  .l-article {
    padding-top: 60px;
  }
  .l-article--padding-wide {
    padding-top: 120px;
  }
  .l-article--padding-narrow {
    padding-top: 30px;
  }
}

@media print {
  .l-article {
    page-break-inside: avoid;
  }
}

/*--------------------------------------------------
  Site-header
--------------------------------------------------*/
.l-site-header {
  position: relative;
  width: 100%;
  min-width: 240px;
  z-index: 9;
}

.l-site-header__content {
  padding: 0 10px;
}

.l-site-header__navigation {
  max-height: 0;
  -webkit-transition: all 300ms ease-in-out 120ms;
  transition: all 300ms ease-in-out 120ms;
  overflow: hidden;
}

.l-site-header__navigation.js-show {
  max-height: 100vh;
}

@media (min-width: 992px) {
  .l-site-header__content {
    padding: 0 20px;
  }
  .l-site-header__content:first-child {
    height: 75px;
  }
  .l-site-header__navigation {
    max-height: 100vh;
  }
}

@media (max-width: 991px) {
  .l-site-header__action {
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
  .l-site-header__navigation {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color: #C51162;
    z-index: 9;
  }
}

@media print {
  .l-site-header__action {
    display: none;
  }
}

/*--------------------------------------------------
  Site-main
--------------------------------------------------*/
.l-site-main {
  position: relative;
}

/*--------------------------------------------------
  Site-footer
--------------------------------------------------*/
.l-site-footer {
  position: relative;
  z-index: 1;
}

/*--------------------------------------------------
  Site-atf
--------------------------------------------------*/
.l-site-atf {
  height: 300px;
}

@media (min-width: 992px) {
  .l-site-atf {
    height: calc(500px);
  }
}

/*--------------------------------------------------
  Site-content
--------------------------------------------------*/
.l-site-content {
  position: relative;
}

/*--------------------------------------------------
  Site-navigation
--------------------------------------------------*/
.l-site-navigation {
  position: relative;
  max-height: 0;
  background-color: #C51162;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out 120ms;
  transition: all 300ms ease-in-out 120ms;
}

.l-site-navigation.js-show {
  max-height: 100vh;
}

@media (min-width: 992px) {
  .l-site-navigation {
    max-height: 100vh;
  }
}
/*# sourceMappingURL=layout.css.map */